.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: relative;
  padding: 40px 24px;
  min-height: 400px;
  display: flex;
  align-items: flex-end;
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero .hero-bg {
  position: absolute;
  z-index: -1;
  inset: 0;
  overflow: hidden;
}

.hero .hero-bg::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgb(0 0 0 / 60%), rgb(0 0 0 / 10%));
}

.hero .hero-bg picture {
  display: block;
  height: 100%;
}

.hero .hero-bg img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero .hero-content {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  color: var(--background-color);
}

.hero .hero-content h1 {
  color: var(--background-color);
}

.hero .hero-content p {
  color: var(--background-color);
}

.hero .hero-content a.button:any-link {
  border-color: var(--background-color);
  color: var(--background-color);
  background-color: transparent;
  box-shadow: 4px 4px 0 0 var(--background-color);
}

.hero .hero-content a.button:any-link:hover {
  box-shadow: 6px 6px 0 0 var(--background-color);
}

@media (width >= 900px) {
  .hero {
    min-height: 500px;
    padding: 60px 32px;
  }
}
