footer {
  background-color: var(--text-color);
  color: var(--background-color);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  max-width: 1200px;
  margin: auto;
  padding: 48px 24px 32px;
}

footer .footer p {
  margin: 0;
}

footer .footer a:any-link {
  color: rgb(255 255 255 / 70%);
  text-decoration: none;
}

footer .footer a:hover {
  color: var(--color-lavender);
}

footer .footer h2,
footer .footer h3,
footer .footer h4 {
  color: rgb(255 255 255 / 90%);
  font-size: var(--body-font-size-xs);
  margin-top: 0;
  margin-bottom: 16px;
}

footer .footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer .footer ul li {
  margin-bottom: 12px;
}

/* multi-section layout */
footer .footer .section {
  margin: 0;
  padding: 0 0 32px;
}

footer .footer .section > div {
  padding: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    gap: 48px;
    padding: 48px 32px 32px;
  }

  footer .footer .section {
    padding: 0;
  }
}
