footer {
  background-color: var(--text-color);
  color: var(--background-color);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

footer .footer a:any-link {
  color: var(--background-color);
}

footer .footer a:hover {
  color: var(--color-lavender);
}

footer .footer h2,
footer .footer h3,
footer .footer h4 {
  color: var(--background-color);
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
